@model AccountViewModel
<div class="form-signin">
	<form asp-area="" asp-controller="Account" asp-action="Login" asp-route-id="" method="post">
		<h1 class="h1 mb-3"><span class="fas fa-fingerprint"></span> <small>Bitte anmelden</small></h1>

		<div class="form-floating">
			<input asp-for="Username" class="form-control" type="text" placeholder="">
			<label asp-for="Username">Benutzername</label>
			<span asp-validation-for="Username"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="Password" class="form-control" type="password" placeholder="">
			<label asp-for="Password">Passwort</label>
			<span asp-validation-for="Password"></span>
		</div>

		<div class="form-check form-check-inline mb-4">
			<input asp-for="RememberMe" class="form-check-input" type="checkbox">
			<label asp-for="RememberMe" class="form-check-label">Anmeldung merken</label>
		</div>

		<button type="submit" class="btn btn-lg btn-primary w-100">Anmelden</button>
	</form>
</div>
