@model WebUser
<h1 class="h1"><span class="fas fa-user"></span> @ViewBag.ViewTitle</h1>

<form asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="" method="post">
	<input asp-for="Id" type="hidden" value="@Model.Id">

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="Username">Benutzername</label>
			<input asp-for="Username" class="form-control">
			<span asp-validation-for="Username"></span>
		</div>
		<div class="col-sm">
			<label asp-for="Password">Passwort</label>
			<div class="input-group">
				<input asp-for="Password" class="form-control" type="password">
				<button type="button" class="btn btn-outline-secondary toggle-password"><span class="fas fa-fw fa-eye"></span></button>
			</div>
			<span asp-validation-for="Password"></span>
		</div>
	</div>
	<div class="row g-3 mb-3">
		<div class="col-sm text-sm-center">
			<div class="form-check form-check-inline">
				<input asp-for="IsEnabled" class="form-check-input" type="checkbox">
				<label asp-for="IsEnabled" class="form-check-label">Aktiv</label>
			</div>
		</div>
		<div class="col-sm text-sm-center">
			<div class="form-check form-check-inline">
				<input asp-for="IsAdmin" class="form-check-input" type="checkbox">
				<label asp-for="IsAdmin" class="form-check-label">Administrator</label>
			</div>
		</div>
	</div>

	<button type="submit" class="btn btn-outline-primary">Speichern</button>
	<a asp-area="" asp-controller="Users" asp-action="Index" asp-route-id="" class="btn btn-outline-secondary">Abbrechen</a>
	@if(Model.Id > 0)
	{
		<button type="submit" name="id" value="@Model.Id" asp-area="" asp-controller="Users" asp-action="Delete" asp-route-id="" class="btn btn-outline-danger" id="delete">Löschen</button>
	}
</form>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			$('#delete').click(function (event) {
				if (!confirm('Soll der Benutzer gelöscht werden?'))
					event.preventDefault();
			});
		});
	</script>
}
